.logInAfter{
   position: relative;
}
#logPage {
  
    border-radius: 1px solid red;
    background: white;
    width: 22%;
    height: 50%;
    margin: auto;
    padding: 50px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    margin-top: 60px;
    border-radius: 10px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}
#logo {
    width: 10%;
    margin-left: 45%;
    margin-top: 10px;
}
.radioInput{
    display: flex;
    margin-top: 10px;
}
/* #radio{
    background-color: #e40980;
} */
#gender{
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.number {
    width: 100%;
    margin-right: 5px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.number:hover{
    border-bottom: 2px solid #e40980;
}

#check {
    color: green;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.numInput{
    display: flex;
    flex-direction: column;
}

#btn {
    display: block;
}

i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.arrow{
    background-color: rgb(194, 189, 189);
    border-radius: 50%;
}

body {
    background-size: cover;
    background-color: #EFEBE9;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    font-size: 25px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 15px;
    font-weight: 500;
}

button {
    padding: 10px 10px;
    background: #e40980;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
#clear{
    position: absolute;
    top: -11px;
    right: 480px;
    font-size: 35px;
}